
  <header class="uk-container uk-container-center uk-margin">
    <div class="uk-grid-large" uk-grid>
      <h1 class="uk-heading-primary uk-margin-remove uk-navbar-left">Frontend Nagoya</h1>
      <nav class="uk-navbar-right" uk-navbar>
        <ul class="uk-navbar-nav uk-text-large">
          <li class="uk-active uk-text-large"><a href="#">Frontend Nagoya</a></li>
          <li class="uk-parent"><a href="#">イベント情報</a></li>
          <li><a href="#">イベントブログ</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- /.layout-header -->
