<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ webroot }}/common/css/uikit.css" />
  <link rel="stylesheet" href="{{ webroot }}/common/css/style.css">
  <meta property="og:title" content="###">
  <meta property="og:type" content="website">
  <meta property="og:url" content="###">
  <meta property="og:image" content="###">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@###">
  <meta name="twitter:title" content="###">
  <meta name="twitter:description" content="###">
</head>
<body class="{{ page }}">
